---
import fetchApi from "../lib/strapi";
import type { metaTypes } from "../types/meta-types";

const meta = await fetchApi<metaTypes>({
  endpoint: "meta", // the content type to fetch
});
---

<footer class="stork">
  <h3 class="serif">Contact</h3>
  <h4>
    <a href={`mailto:${meta.email}@${meta.url}`}>
      {meta.email}@{meta.url}
    </a>
  </h4>
  <form
    name="contact"
    data-netlify="true"
    netlify-honeypot="bot-field"
    method="POST"
    action="/form-success"
    class="stork"
  >
    <input type="hidden" name="form-name" value="contact" />

    <input
      type="hidden"
      name="subject"
      value={`Contact Form from  ${meta.name}`}
    />

    <label
      >Name
      <input type="text" name="name" />
    </label>
    <label
      >Email
      <input type="email" name="email" />
    </label>
    <label
      >Phone
      <input type="tel" name="tel" />
    </label>
    <label
      >Message
      <textarea name="message"></textarea>
    </label>

    <p class="sr-only">
      <label class="sr-only">
        Don&#39;t fill this out if you&#39;re human:
        <input name="bot-field" />
      </label>
    </p>
    <button type="submit">Send</button>
  </form>
  <p class="kilimanjaro-margin-block-end inline-block">
    <a href="/">{meta.name} {meta.title} </a>
    {new Date().getFullYear()}
  </p>
</footer>
