---
// TODO: collaborator
import fetchApi from "../../lib/strapi";
import Wrapper from "../../components/wrapper.astro";
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro";
import Breadcrumbs from "../../components/breadcrumbs.astro";
import { Image } from "astro:assets";

type CoupleTypes = {
  bride: string;
  groom: string;
  slug: string;
  title?: string;
  mux?: string;
  hero?: {
    url: string;
    alternativeText: string;
    width?: number;
    height?: number;
  };
};
export async function getStaticPaths() {
  const couples = await fetchApi<CoupleTypes[]>({
    endpoint: "couples",
    populate: {
      hero: true,
    },
  });

  return couples.map((couple) => ({
    params: { slug: couple.slug },
    props: couple,
  }));
}
const couple = Astro.props;

// * this still might need more but for now its working
// http://45.79.101.19:1347/api/couples?populate=hero
// console.log(couple);

// qs.stringify({ a: 'b' }), 'a=b'

/* const check = {
  populate: {
    hero: true,
  },
};
console.log(check);
console.log(qs.stringify(check, { encode: false })); */

// console.log(couple);
---

<Wrapper
  seo={{
    title: `${couple.bride} & ${couple.groom}`,
  }}
>
  <Header />
  <main class="pelican">
    {couple.mux ?
    <mux-player playback-id={couple.mux}></mux-player>
    <script>
      import "@mux/mux-player";
    </script>
    : 
    couple.hero &&
      <Image
      src={couple.hero.url}
      width={couple.hero.width || 1200}
      height={couple.hero.height || 600}
      alt={`${couple.hero.alternativeText} | ${couple.bride}`}
    />
    }

    <h1 class="serif">{couple.title ? couple.title : `${couple.bride} & ${couple.groom}`}</h1>
  </main>
  <Breadcrumbs
    items={[
      { label: "Couples", href: "/couples" },
      { label: couple.title ? couple.title : `${couple.bride} & ${couple.groom}` },
    ]}
  />
  <Footer />
</Wrapper>
